# Telegram username and API
BOT_API = 'API_KEY_HERE'
BOT_USERNAME = 'BOT_USERNAME_HERE'

# Website link and user database
START_URL = "https://selfservice.broxtowe.gov.uk/renderform.aspx?t=217&k=9D2EF214E144EE796430597FB475C3892C43C528"
DATA_FILE = "data/users.json"